/* ============================= GLOBAL ============================= */
:root {
  --charcoal: rgb(54, 54, 54);
  --ash: rgb(92, 92, 92);
  --lightBeige: rgb(190, 185, 185);
  --lightGray: rgb(206, 206, 206);
  --panchamPurple: #626473;
  --scarletRed: rgb(241, 131, 131);

  /* Tetromino Piece Colors */
  --lightBlue: rgb(145, 145, 245);
  --yellow: rgb(255, 255, 149);
  --purple: rgb(204, 129, 204);
  --green: rgb(179, 221, 179);
  --red: rgb(211, 123, 123);
  --blue: rgb(73, 73, 172);
  --orange: rgb(255, 205, 113);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  display: relative;
  background-color: var(--ash);
  /* background-color: var(--panchamPurple); */
}

body #logo-image {
  /* width: 26%; */
  width: 500px;
  height: auto;
  margin: auto;
  display: block;
  margin: 2% auto;
}

* {
  box-sizing: border-box;
}

input, button {
  outline: none;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
  padding: 0;
  margin: 0;
  color: var(--charcoal);
}

/* ============================= DETAIL MODAL START ============================= */
.about-modal {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-about-modal {
  display: none;
}

#detail-modal #detail-modal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  
  background-color: white;
  height: 500px;
  width: 500px;
  padding: 20px 30px;
  /* text-align: center; */

  border-radius: 20px;
}

#detail-modal #detail-modal-information h3 {
  padding: 0;
  margin: 0;
  color: var(--ash);
  font-size: 2rem;
}

#detail-modal #about-modal-spacer {
  background-color: var(--scarletRed);
  color: white;
  font-size: 3rem;
  padding: 8px 23px 8px 26px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transform: translateX(-60px);
  visibility: hidden;
}

#detail-modal #about-modal-close {
  background-color: var(--scarletRed);
  color: white;
  font-size: 3rem;
  padding: 8px 23px 8px 26px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transform: translateX(-60px);
  z-index: 8;
  transition-duration: 0.4s;
}

#detail-modal #about-modal-close:hover {
  transform: translateX(0);
}

/* ============================= DETAIL MODAL END ============================= */

/* ============================= GAME CONTAINER START ============================= */
#game-container {
  display: block;
  width: 100%;
  /* height: 606px; */
  padding: 20px 0 60px;
  background-image: url('../public/img/pancham.png');
  background-position: center;
  border-top: var(--charcoal) solid 4px;
  border-bottom: var(--charcoal) solid 4px;

  /* border: white solid 1px; */
}

#game-container #game-options {
  text-align: center;
}
/* ============================= GAME CONTAINER END ============================= */

/* ============================= BOARD CONTAINER START ============================= */
#game-container #board-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  /* border: lightblue solid 2px; */
}

#board-container #spacer {
  width: 150px;
}
/* ============================= BOARD CONTAINER END ============================= */

/* ============================= BOARD START ============================= */
#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 320px;
  border: var(--charcoal) solid 10px;
  border-radius: 7px;
  margin: 0 30px;

  /* border: red solid 2px; */
}

#board .board-grid {
  width: 30px;
  height: 30px;
  border: var(--charcoal) solid 2px;
  background-color: var(--ash);
}
/* ============================= BOARD END ============================= */

/* ============================= PIECE-OPTIONS START ============================= */
#piece-options {
  /* margin-left: 5%; */
  
  /* border: white solid 2px; */
}

#piece-options #next-piece, #saved-piece {
  width: 150px;
  height: 150px;
  background-color: var(--panchamPurple);
  /* margin-left: 5%; */
  border: var(--charcoal) solid 10px;
  border-radius: 9px;
}

#piece-options h3 {
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
  color: var(--lightBeige);
  /* margin-left: 5%; */
}
/* ============================= PIECE-OPTIONS END ============================= */

/* ============================= GAME OPTIONS START ============================= */
#game-options {
  text-align: center;
  margin-bottom: 5px;
  /* border: red solid 1px; */
}

#game-options h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: var(--charcoal);
  font-size: 1rem;
}

#game-options button {
  height: 20px;
  width: 80px;
  margin: 10px 0;
  border: white solid 1px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#game-options button:hover {
  background-color: var(--ash);
  border: var(--charcoal) solid 1px;
}
/* ============================= GAME OPTIONS END ============================= */

/* ============================= MUSIC OPTIONS START ============================= */
#music-options {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: red solid 1px; */
}

#music-options h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: var(--charcoal);
  font-size: 1rem;
}

#music-options button {
  height: 20px;
  width: 80px;
  margin: 10px 0;
  border: white solid 1px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#music-options button:hover {
  background-color: var(--ash);
  border: var(--charcoal) solid 1px;
}
/* ============================= MUSIC OPTIONS END ============================= */

/* ============================= FOOTER START ============================= */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
}

#details {
  text-align: center;
  font-size: 1.4rem;
  height: 50px;
  width: 130px;
  margin: 15px auto;
  border: white solid 1px;
  background-color: var(--panchamPurple);
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}

#details:hover {
  background-color: var(--ash);
  color: var(--charcoal);
  border: var(--charcoal) solid 1px;
}

#footer-links {
  display: flex;
  justify-content: center;
}

#footer-links a {
  display: block;
  text-decoration: none;
  font-size: 5rem;
  transition-duration: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 10px;
  background-color: var(--lightGray);
  border: var(--charcoal) solid 10px;
  border-radius: 9px;
}

#footer-links a:first-child {
  color: #0077B5;
  margin-right: 6px;
}

#footer-links a:last-child {
  color: #23292D;
  margin-left: 6px;
}

#footer-links a:hover {
  opacity: 0.7;
  color: rgb(216, 201, 201);
  background-color: var(--charcoal);
}
/* ============================= FOOTER END ============================= */