/* ============================= GLOBAL ============================= */
:root {
  --charcoal: rgb(54, 54, 54);
  --ash: rgb(92, 92, 92);
  --lighterBeige: rgb(216, 201, 201);
  --lightBeige: rgb(190, 185, 185);
  --lightGray: rgb(206, 206, 206);
  --panchamPurple: #626473;
  --panchamBeige: rgb(211, 217, 169);
  --scarletRed: rgb(241, 131, 131);
  --skyBlue: rgb(80, 156, 255);
  --leafGreen: rgb(60, 170, 83);

  /* Tetromino Piece Colors */
  --lightBlue: rgb(145, 145, 245);
  --yellow: rgb(255, 255, 149);
  --purple: rgb(204, 129, 204);
  --green: rgb(179, 221, 179);
  --red: rgb(211, 123, 123);
  --blue: rgb(73, 73, 172);
  --orange: rgb(255, 205, 113);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  display: relative;
  background-color: var(--ash);
  /* background-color: var(--panchamPurple); */
}

body #logo-image {
  /* width: 26%; */
  width: 500px;
  height: auto;
  margin: auto;
  display: block;
  margin: 2% auto;
}

* {
  box-sizing: border-box;
}

input, button {
  outline: none;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
  padding: 0;
  margin: 0;
  color: var(--charcoal);
}

/* ============================= DETAIL MODAL START ============================= */
.about-modal {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-about-modal {
  display: none;
}

#detail-modal #detail-modal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  
  background-color: white;
  height: 500px;
  width: 500px;
  padding: 20px 30px;
  /* text-align: center; */

  border-radius: 20px;
}

#detail-modal #detail-modal-information h3 {
  padding: 0;
  margin: 0;
  color: var(--ash);
  font-size: 2rem;
}

#detail-modal #about-modal-spacer {
  background-color: var(--scarletRed);
  color: white;
  font-size: 3rem;
  padding: 8px 23px 8px 26px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transform: translateX(-60px);
  visibility: hidden;
}

#detail-modal #about-modal-close {
  background-color: var(--scarletRed);
  color: white;
  font-size: 3rem;
  padding: 8px 23px 8px 26px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transform: translateX(-60px);
  z-index: 8;
  transition-duration: 0.4s;
}

#detail-modal #about-modal-close:hover {
  transform: translateX(0);
}

/* ============================= DETAIL MODAL END ============================= */

/* ============================= GAME CONTAINER START ============================= */
#game-container {
  display: block;
  width: 100%;
  /* height: 606px; */
  padding: 20px 0 60px;
  margin-bottom: 80px;
  background-image: url('../public/img/pancham.png');
  background-position: center;
  border-top: var(--charcoal) solid 4px;
  border-bottom: var(--charcoal) solid 4px;

  /* border: white solid 1px; */
}

#game-container #game-options {
  text-align: center;
}
/* ============================= GAME CONTAINER END ============================= */

/* ============================= BOARD CONTAINER START ============================= */
#game-container #board-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  /* border: lightblue solid 2px; */
}

#board-container #social {
  width: 150px;
}
/* ============================= BOARD CONTAINER END ============================= */

/* ============================= BOARD START ============================= */
#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 320px;
  border: var(--charcoal) solid 10px;
  border-radius: 7px;
  margin: 0 30px;
  position: relative;

  /* border: red solid 2px; */
}

#tetronimo-I {
  display: flex;
  position: absolute;
  z-index: 7;
}

#tetronimo-I > div {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--lightBlue);
}

#tetronimo-O {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-O > div {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--yellow);
}

#tetronimo-T {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-T > div,
#tetronimo-S > div,
#tetronimo-Z > div,
#tetronimo-J > div,
#tetronimo-L > div {
  width: 30px;
  height: 30px;
}

#tetronimo-T div:nth-child(2),
#tetronimo-T div:nth-child(4),
#tetronimo-T div:nth-child(5),
#tetronimo-T div:nth-child(6) {
  background-color: var(--purple);
  border: white solid 2px;
}

#tetronimo-S {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-S div:nth-child(2),
#tetronimo-S div:nth-child(3),
#tetronimo-S div:nth-child(4),
#tetronimo-S div:nth-child(5) {
  background-color: var(--green);
  border: white solid 2px;
}

#tetronimo-Z {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-Z div:nth-child(1),
#tetronimo-Z div:nth-child(2),
#tetronimo-Z div:nth-child(5),
#tetronimo-Z div:nth-child(6) {
  background-color: var(--red);
  border: white solid 2px;
}

#tetronimo-J {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-J div:nth-child(1),
#tetronimo-J div:nth-child(4),
#tetronimo-J div:nth-child(5),
#tetronimo-J div:nth-child(6) {
  background-color: var(--blue);
  border: white solid 2px;
}

#tetronimo-L {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 7;
}

#tetronimo-L div:nth-child(3),
#tetronimo-L div:nth-child(4),
#tetronimo-L div:nth-child(5),
#tetronimo-L div:nth-child(6) {
  background-color: var(--orange);
  border: white solid 2px;
}

.left-shift {
  margin-left: calc(0px + 30px);
}

.board-grid {
  width: 30px;
  height: 30px;
  border: var(--charcoal) solid 2px;
  background-color: var(--ash);
}

.T {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--purple);
}

.L {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--orange);
}

.J {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--blue);
}

.I {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--lightBlue);
}

.S {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--green);
}

.Z {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--red);
}

.O {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--yellow);
}
/* ============================= BOARD END ============================= */

/* ============================= SOCIAL START ============================= */
#social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linkedIn, #github {
  width: 150px;
  height: 150px;
  background-color: var(--panchamPurple);
  /* margin-left: 5%; */
  border: var(--charcoal) solid 10px;
  border-radius: 9px;
  background-color: var(--lightGray);

  display: flex;
  justify-content: center;
  align-items: center;
}

#social h3 {
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
  color: var(--lightBeige);
  cursor: default;
}

#linkedIn a, #github a {
  display: block;
  text-decoration: none;
  font-size: 5rem;
  transition-duration: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#linkedIn a {
  color: #0077B5;
}

#github a {
  color: #23292D;
}

#linkedIn a:hover, #github a:hover {
  opacity: 0.7;
  color: var(--panchamBeige);
  background-color: var(--charcoal);
}

#details {
  text-align: center;
  font-size: 1.4rem;
  height: 50px;
  width: 130px;
  margin: 15px auto;
  border: white solid 1px;
  background-color: var(--panchamPurple);
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}

#details:hover {
  background-color: var(--ash);
  color: var(--charcoal);
  border: var(--charcoal) solid 1px;
}

/* ============================= SOCIAL END ============================= */

/* ============================= PIECE-OPTIONS START ============================= */
#piece-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* border: white solid 2px; */
}

#piece-options #next-piece, #saved-piece {
  width: 150px;
  height: 150px;
  background-color: var(--panchamPurple);
  /* margin-left: 5%; */
  border: var(--charcoal) solid 10px;
  border-radius: 9px;
}

#piece-options h3 {
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
  color: var(--lightBeige);
  cursor: default;
}

#piece-options #next-piece, #piece-options #saved-piece {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#piece-options #next-piece > div, #piece-options #saved-piece > div {
  position: absolute;
}

#current-song {
  text-align: center;
  font-size: 1.4rem;
  height: 50px;
  width: 130px;
  margin: 15px auto;
  border: white solid 1px;
  background-color: var(--panchamPurple);
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}

#current-song:hover {
  background-color: var(--leafGreen);
}

/* ============================= TETRONIMO-I START ============================= */
.tetronimo-I {
 display: flex;
}

.tetronimo-I > div {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--lightBlue);
}
/* ============================= TETRONIMO-I END ============================= */

/* ============================= TETRONIMO-O START ============================= */
.tetronimo-O {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tetronimo-O > div {
  width: 30px;
  height: 30px;
  border: white solid 2px;
  background-color: var(--yellow);
}
/* ============================= TETRONIMO-O END ============================= */

/* ============================= TETRONIMO-T START ============================= */
.tetronimo-T {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetronimo-T > div {
  width: 30px;
  height: 30px;
}

.tetronimo-T div:nth-child(2),
.tetronimo-T div:nth-child(4),
.tetronimo-T div:nth-child(5),
.tetronimo-T div:nth-child(6) {
  background-color: var(--purple);
  border: white solid 2px;
}
/* ============================= TETRONIMO-T END ============================= */

/* ============================= TETRONIMO-S START ============================= */
.tetronimo-S {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetronimo-S > div {
  width: 30px;
  height: 30px;
}

.tetronimo-S div:nth-child(2),
.tetronimo-S div:nth-child(3),
.tetronimo-S div:nth-child(4),
.tetronimo-S div:nth-child(5) {
  background-color: var(--green);
  border: white solid 2px;
}
/* ============================= TETRONIMO-S END ============================= */

/* ============================= TETRONIMO-Z START ============================= */
.tetronimo-Z {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetronimo-Z > div {
  width: 30px;
  height: 30px;
}

.tetronimo-Z div:nth-child(1),
.tetronimo-Z div:nth-child(2),
.tetronimo-Z div:nth-child(5),
.tetronimo-Z div:nth-child(6) {
  background-color: var(--red);
  border: white solid 2px;
}
/* ============================= TETRONIMO-Z END ============================= */

/* ============================= TETRONIMO-J START ============================= */
.tetronimo-J {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetronimo-J > div {
  width: 30px;
  height: 30px;
}

.tetronimo-J div:nth-child(1),
.tetronimo-J div:nth-child(4),
.tetronimo-J div:nth-child(5),
.tetronimo-J div:nth-child(6) {
  background-color: var(--blue);
  border: white solid 2px;
}
/* ============================= TETRONIMO-J END ============================= */

/* ============================= TETRONIMO-L START ============================= */
.tetronimo-L {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetronimo-L > div {
  width: 30px;
  height: 30px;
}

.tetronimo-L div:nth-child(3),
.tetronimo-L div:nth-child(4),
.tetronimo-L div:nth-child(5),
.tetronimo-L div:nth-child(6) {
  background-color: var(--orange);
  border: white solid 2px;
}
/* ============================= TETRONIMO-L ENDS ============================= */

.hide-tetronimo {
  display: none;
}
/* ============================= PIECE-OPTIONS END ============================= */

/* ============================= GAME OPTIONS START ============================= */
#game-options {
  text-align: center;
  margin-bottom: 5px;
  /* border: red solid 1px; */
}

#game-options h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: var(--charcoal);
  font-size: 1rem;
  cursor: default;
}

#game-options button {
  height: 20px;
  width: 80px;
  margin: 10px 0;
  border: white solid 1px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#game-options button:hover {
  background-color: var(--ash);
  color: white;
  border: var(--charcoal) solid 1px;
}
/* ============================= GAME OPTIONS END ============================= */

/* ============================= MUSIC OPTIONS START ============================= */
#music-options {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: red solid 1px; */
}

#music-options h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: var(--charcoal);
  font-size: 1rem;
  cursor: default;
}

#music-options button {
  height: 20px;
  width: 80px;
  margin: 10px 0;
  border: white solid 1px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#music-options button:hover {
  background-color: var(--ash);
  color: white;
  border: var(--charcoal) solid 1px;
}
/* ============================= MUSIC OPTIONS END ============================= */